* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.conteiner {
  width: 80%;
  margin: 0 auto;
  padding-top: 5px;
}
[class^="col-"] {
  float: left;
}
.row::after{
  content: "";
  clear: both;
  display: table;
}
/* NAVBAR */
nav{
  background-color: #0C325A;
}
.logo{
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
nav ul {
  height: 65px;
  line-height: 65px;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 20px;
}
.btn-login {
  border: 1px solid #fff;
  padding: 8px 30px;
  border-radius: 5px;

}
/* NAVBAR */
.ul-right {
  float: right;
}
/* UTILITY */
.btn-green{
  background-color: #7CBB02;
  padding: 8px 10px;
  border-radius: 5px;
}
.col-100{
  width: 100%;
}
.col-50 {
  width: calc(100% / 2);
}
.col-33 {
  width: calc(100% / 3);
}

/* JUMBO */
.jumbo {
  background-color: #0C325A;
  background-image: url("../img/background-header.png");
  height: 500px;
  background-size: cover;

}
.text-jumbo {
  color: #fff;
  font-size: 20px;
  width: 40%;
  margin-top: 10%;
  margin-left: 10%;
}
.text-jumbo a {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 20px;
  margin-top: 18px;
  width: 200px;
}
 /* MAIN */


.bg-slogan {
  background-color: #D3D3D3;
  height: 120px;

}
.slogan_1 {
  padding-top: 30px;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.slogan_2 {
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  color: #808080
}

.profile {
  width: 50%;

}
